html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column; 
}

ul, ol {
  list-style-type: none;
}

.site-nav {
  display: flex;
  flex-wrap: wrap;
}

.menu-item {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo {
  width: 100px;
  height: 50px;
}

.header, 
.footer {
  flex: 0 0 auto;
}

.header {
  outline: 1px solid red; 
}

.footer {
  outline: 1px solid blue;
}


.main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  flex: 1 0 auto;
  display: flex;
}

.advantages {
  flex: 0 0 200px;
  outline: 1px solid purple;
}

.catalog {
  flex: 1 0 auto;
  outline: 1px solid orange;  
}

.subscribe {
  flex: 0 0 100px;
  outline: 1px solid pink;
}

.visually-hidden {
  position: absolute; 
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}