html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column; 
}

.header, 
.footer {
  flex: 0 0 auto;
}

.header {
  outline: 1px solid red; 
}

.footer {
  outline: 1px solid blue;
}


.main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.hero {
  flex: 0 0 300px;
  outline: 1px solid green;
}

.content {
  flex: 1 0 auto;
  display: flex;
}

.advantages {
  flex: 0 0 200px;
  outline: 1px solid purple;
}

.catalog {
  flex: 1 0 auto;
  outline: 1px solid orange;  
}

.subscribe {
  flex: 0 0 100px;
  outline: 1px solid pink;
}